.card {
  width: 50%;
  display: block;
  position: relative;

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 40dvh;
  }

  .card-front_wrapper {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);

    @include mobile {
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateX(0);

      img {
        width: 100%;
      }
    }

    .card-front {
      display: flex;
      flex-direction: column;
      color: $white;

      .card-logo {
        position: absolute;
        top: 24px;
        left: 24px;

        @include mobile {
          width: 20%;
        }
      }

      .card-front_number {
        font-size: 24px;
        position: absolute;
        bottom: 35%;
        left: 24px;
        letter-spacing: 4px;
      }

      .card-front_name {
        font-size: 14px;
        position: absolute;
        bottom: 10%;
        left: 24px;
        text-transform: uppercase;
      }

      .card-expire-date {
        font-size: 14px;
        position: absolute;
        bottom: 10%;
        right: 24px;
      }
    }
  }

  .card-back_wrapper {
    position: absolute;
    left: 60%;
    bottom: 15%;
    transform: translateX(-50%);

    @include mobile {
      left: auto;
      bottom: auto;
      top: 5%;
      right: 5%;
      transform: translateX(0);
      width: 90%;

      img {
        width: 100%;
      }
    }

    .card-back {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .card-cvc {
        font-size: 14px;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
