.form {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;

  @include mobile {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include mobile {
      width: 100%;
    }

    input[type="text"],
    input[type="tel"],
    input[type="number"] {
      border: 1px solid $veryDarkViolet;
      border-radius: 8px;
      padding: 8px;
      margin-bottom: 8px;
    }

    label {
      margin-bottom: 8px;
      text-transform: uppercase;
      color: $veryDarkViolet;
    }

    button[type="submit"] {
      background-color: $veryDarkViolet;
      border-radius: 8px;
      color: $white;
      cursor: pointer;
      padding: 16px;
    }

    .input-group {
      display: flex;

      &__expires {
        display: flex;
        width: 50%;

        .month,
        .year {
          display: flex;
          flex-direction: column;

          input {
            width: 50%;
          }
        }
      }

      .cvc {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
