.form {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;

  @include mobile {
    width: 100%;
    height: 60dvh;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include mobile {
      width: 100%;
    }

    .error {
      color: $red;
      font-size: 10px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="number"] {
      border: 1px solid;
      border-radius: 8px;
      color: $veryDarkViolet;
      font-size: 13px;
      height: 45px;
      padding: 16px;
      margin-bottom: 12px;

      &:focus {
        outline: none;
        border: 1px solid $veryDarkViolet;
      }

      &::placeholder {
        color: $darkGrayishViolet;
      }
    }

    label {
      font-size: 10px;
      margin-bottom: 12px;
      margin-top: 12px;
      text-transform: uppercase;
      color: $veryDarkViolet;
    }

    button[type="submit"] {
      background-color: $veryDarkViolet;
      border-radius: 8px;
      color: $white;
      cursor: pointer;
      height: 53px;
      padding: 16px;
      margin-top: 24px;
    }

    .input-group {
      display: flex;
      column-gap: 20px;

      &__expires {
        display: flex;
        width: 50%;
        column-gap: 10px;

        .month,
        .year {
          display: flex;
          flex-direction: column;

          input {
            width: 100%;
          }
        }
      }

      .cvc {
        display: flex;
        flex-direction: column;
        width: 50%;

        input {
          width: 100%;
        }
      }
    }
  }
}
